/* Основной контейнер */
.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f4f6f9;
  font-family: 'Arial', sans-serif;
  padding: 20px;
}

/* Заголовок */
.welcome-text {
  font-size: 3rem;
  font-weight: bold;
  color: #333;
  text-align: center;
  animation: fadeIn 2s ease-in-out;
}

.app-name {
  color: #007bff;
}

.description {
  font-size: 1.2rem;
  color: #555;
  text-align: center;
  margin-top: 10px;
  opacity: 0.8;
}

/* Форма входа */
.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

/* Общий стиль для полей ввода */
.input-field,
.password-input {
  width: 250px;
  padding: 10px 15px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 10px;
  font-size: 16px;
  box-sizing: border-box;
  transition: all 0.3s ease; /* Плавный переход для увеличения и подсветки */
}

/* Эффекты при фокусировке и вводе */
.input-field:focus,
.password-input:focus,
.input-field:not(:placeholder-shown),
.password-input:not(:placeholder-shown) {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  transform: scale(1.05); /* Увеличение поля при фокусе и вводе */
}

/* Контейнер для пароля с кнопкой Show */
.password-input-container {
  position: relative;
  width: 250px;
  margin: 10px 0;
}

.password-input {
  padding-right: 50px;
}

/* Кнопка "Show" */
.btn-show {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  background: none;
  border: none;
  color: #007bff;
  font-size: 15px;
  cursor: pointer;
  transition: transform 0.3s ease, color 0.3s ease;
}

.icon-eye,

.icon-eye-off {
  width: 20px;
  height: 20px;
  transition: transform 0.3s ease;
}

.icon-eye {
  transform: rotate(0deg);
}

.icon-eye-off {
  transform: rotate(450deg);
}

.btn-show:hover {
  color: #0056b3;
}

.btn-show:active {
  color: #003f7f;
}

/* Кнопка входа */
.btn-login {
  padding: 10px 20px;
  margin: 10px 0;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.btn-login:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}
.btn-login:active {
  transform: scale(1);
}

/* Анимации */
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
